.Container {
  margin-bottom: var(--margin-s);
  border-radius: 12px;
  border: 1px solid #cbcbcb;
  background: var(--n0);
  padding: var(--padding-m);
}

.Container::-webkit-scrollbar {
  display: none;
}

.ResultTopBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--margin-l);
}

.PageResult {
  width: 40vw;
  margin-right: var(--margin-m);
  border-radius: 8px;
  border: 1px solid #d6d6d6;
  padding: var(--padding-s);
}

.DocumentName {
  color: #0c0c0c;
  font-family: var(--font-mulish);
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.DocumentName a {
  color: var(--n8) !important;
}

.DocumentName img {
  margin-right: var(--margin-s);
}

.Arrow {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  position: relative;
  width: 2px;
}

.ArrowHidden {
  display: none;
}

/* .ArrowHidden .ArrowCircle {
  color: grey !important;
  background: rgba(128, 128, 128, 0.122) !important;
  border: 1px solid rgba(203, 203, 203, 0.214) !important;
} */

.ArrowCircle {
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.173);
  font-weight: 500;
  font-weight: bolder;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
}

.Right {
  right: 0.5rem;
}

.Left {
  left: 0.1rem;
}

.ArrowCircle:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.ArrowCircle img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hidden {
  display: none !important;
}

.ScrollContainer::-webkit-scrollbar {
  display: none;
}

.ScrollContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.EnlargedImageContainer {
  z-index: 100;
  border: 2px solid red;
  width: 50vw !important;
  height: 50vh !important;
}

.PageImage {
}

.PageResult img {
  background: white;
  width: 100%;
}

.Topper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-top: var(--margin-s);
}

.Topper .Icon {
  width: 24px;
}

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Topper .Name {
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--font-mulish);
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}

.Topper .Details {
  color: #535353;
  font-family: var(--font-mulish);
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

.PageNumber {
  color: var(--n5);
  font-family: var(--font-mulish);
  font-weight: 600;
  line-height: normal;
  font-size: 1rem;
}

.NumPages {
  color: #535353;
  font-family: var(--font-mulish);
  font-style: normal;
  font-weight: 1000;
  font-size: 0.8rem !important;
  line-height: normal;
  margin-left: auto;
}

.L0Tags {
  margin-left: var(--margin-s);
}

.Keyword {
  font-weight: 1000;
  color: var(--p9);
}

.MagnifierData {
  margin-top: var(--margin-s);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
