.LabelPrimary {
  padding: 4px 6px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 6px !important;
  border-radius: 8px !important;
  background: var(--p1, #f2efff) !important;
  color: var(--n7, #3f4765) !important;
  font-family: var(--font-mulish) !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
}
