/* TopNavBar.module.css */

.topNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 5vh;
  }
  
  .logoContainer img {
    height: 40px;
    width: 15vw;
  }
  
  .avatarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .PhoneNumber {
    margin-right: 1rem;
  }