.SearchInputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
}

.EmptyContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: var(--padding-l);
}
