.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: var(--font-mulish);
  /* margin: var(--margin-l); */
}

.InnerContainer {
  width: 40%;
  padding: var(--padding-m) var(--padding-l);
}

.LoginContainer {
  width: 90%;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border-radius: 12px;
  background: #fff;
  /* box-shadow: 1px 3px 13px 3px rgb(0 0 0 / 4%); */
  display: inline-flex;
  flex-direction: column;
}

.Container h1 {
  color: var(--p8);
}

.Container input {
  width: 100%;
  height: 40px;
}

.Container select {
  height: 40px;
}

.Input {
  font-family: "Mulish";
  margin: 1rem 0;
  /* border-radius: 10px; */
  /* border: 1px solid var(--n-2, #D3D6E0); */
  /* background: var(--n-0, #FFF); */
}

.Input input {
  padding: 0 0.2rem;
  border-radius: 10px !important;
  border: 1px solid var(--n-2, #d3d6e0) !important;
  background: var(--n-0, #fff) !important;
  line-height: 1.5rem;
  color: var(--n-5, #5a6892);
  /* font-family: Mulish; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.OtpInput input {
  text-align: center;
}

.Button {
  border-radius: 9px !important;
  background: var(--p-7, #7963ff) !important;
  color: white !important;
  font-family: "Mulish";
  font-weight: 600;
  justify-content: center;
  width: 100%;
}

.Label {
  /* margin-top: 3rem; */
  color: var(--n5, #5a6892);
  font-family: var(--font-mulish);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Logo {
  margin-bottom: 5rem;
}

.Welcome {
  color: var(--n8, #30364d);
  font-family: var(--font-mulish);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.PhoneNumber {
  font-family: var(--font-mulish);
  color: var(--p7);
  font-weight: 900;
}

.Error {
  margin-top: 0.5rem;
  color: rgb(189, 48, 48);
}

.ButtonSecondary {
  border-radius: 9px !important;
  color: var(--p7, #7963ff) !important;
  font-family: "Mulish";
  font-weight: 600;
  justify-content: center;
  width: 100%;
  background: white !important;
}

.Showcase {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  padding: var(--padding-m) var(--padding-l);
  /* background: yellow; */
  flex-direction: column;
  justify-content: center;
}

.Showcase video {
  width: 100%;
  margin-bottom: var(--margin-m);
  border-radius: var(--border-radius-l);
  border: 1px solid rgba(0, 0, 0, 0.14);
}

.CarouselCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CarouselCard .Description {
  width: 80%;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.CarouselCard video {
  width: 100%;
  border-radius: var(--border-radius-l);
  border: 1px solid rgba(0, 0, 0, 0.14);
}

.TnC {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.TnC div {
  color: var(--n5);
}

.Rights {
  color: var(--n5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
