.Header {
  font-size: var(--font-size-s);
}

.RemoveBtn {
  display: flex !important;
  height: 32px !important;
  padding: 8px 19px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  border-radius: 8px !important;
  border: 1px solid var(--p7) !important;
  background: var(--n0) !important;
  color: var(--p8, #614fcc) !important;
  font-family: var(--font-mulish) !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.OtherResultsTitle {
  margin-bottom: var(--margin-m);
  font-weight: 500;
}

.Keyword {
  color: var(--p7);
}
