.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.Img {
  margin-top: var(--margin-s);
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-l);
}

.Img img {
  width: 100%;
  /* border-radius: 50%; */
}

.Title,
.Description {
  text-align: center;
}

.Title {
  color: var(--n7);
  font-family: var(--font-mulish);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: var(--margin-m);
  margin-bottom: var(--margin-m);
  font-size: 1.5rem;
}

.Description {
  color: var(--n6);
  text-align: center;
  font-family: var(--font-mulish);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: var(--margin-m);
  font-size: 1.2rem;
}
