.Children {
  /* padding:  var(--padding-m) var(--padding-l); */
}

.TopNavContainer {
  border-bottom: 1px solid #ededed;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  /* padding: var(--padding-m); */
  height: 5vh;
  display: flex;
}
